<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<form method="get" action="/update">
    <div th:text="${user.id}"></div>
    <input name="id" type="hidden" th:value="${user.id}">
    <input name="nickname" type="text" th:value="${user.nickname}">
    <input name="password" type="text" th:value="${user.password}">
    <input name="organization_name" type="text" th:value="${user.organization_name}">
    <input type="submit" value="Edit">
</form>
</body>
</html>