<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit page</title>
</head>
<body>
<ul>
    <div th:each="user : ${users}">
        <li th:text="'id = ' + ${user.id} +
        ', nickname = ' + ${user.nickname} +
        ', password = ' + ${user.password} +
        ', organization_name = ' + ${user.organization_name}"></li>
        <form method="get" th:action="'user/' + ${user.id} + '/edit'">
            <input type="submit" value="Edit">
        </form>
        <form method="post" th:action="'user/' + ${user.id} + '/delete'">
            <input type="submit" value="Delete">
        </form>
    </div>
</ul>
<form method="get" action="/add">
    <input type="submit" value="Add user">
</form>
<form method="get">
    <input type="text" name="name_substr">
    <input type="submit" value="Filter">
</form>
</body>
</html>